<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || gettext("Peggy") %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/all.min.css")} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body class={if @current_user, do: "", else: "body-pt-4"}>
    <div id="globalNavBar">
      <nav class="navbar is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <%= if Plug.Conn.get_session(@conn, :current_farm) do %>
            <%= link Plug.Conn.get_session(@conn, :current_farm).name,
                to: Routes.navigation_path(@conn, :index, Plug.Conn.get_session(@conn, :current_farm).id), id: "navbar-company-name", class: "navbar-item brand-text is-size-4-desktop" %>
          <% else %>
            <%= link gettext("Peggy"), to: "/", class: "navbar-item brand-text is-size-4-desktop", id: "app-name" %>
          <% end %>
          <div class="navbar-burger burger" data-target="navUserMenu"><span></span><span></span><span></span></div>
        </div>
        <div id="navUserMenu" class="navbar-menu navbar-end">
          <%= render "_user_menu.html", assigns %>
        </div>
      </nav>
    </div>
    <main role="main" class="container is-max-widescreen">
      <%= @inner_content %>
    </main>
  </body>
</html>
