<section class="box has-text-centered">
  <div class="container">
    <p class="title"><%= @page_title %></p>
    <%= f = form_for @changeset, "#", id: "farm-form", phx_change: "validate", phx_submit: "save" %>
      <%= live_component PeggyWeb.FarmLive.FieldsComponent, changeset: @changeset, f: f %>
      <%= submit gettext("Save Farm"), phx_disable_with: gettext("Saving..."), class: "button is-primary" %>
    </form>
  </div>
</section>
