<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-pink-50">
    <%= if @current_user do %>
      <div class="flex fixed top-0 z-10 w-full items-center justify-center text-white gap-4 bg-gray-800 p-2 shadow">
        <div :if={is_nil(assigns[:current_farm])} class="w-[78%] text-xl font-bold cursor-default">
          <%= gettext("Peggy") %>
        </div>

        <div :if={assigns[:current_farm]} class="w-[78%] text-yellow-300 overflow-clip font-semibold">
          <%= @current_farm.name %>
        </div>

        <.link
          :if={assigns[:current_farm]}
          id="peggy_main"
          navigate={~p"/farms/#{@current_farm.id}/main"}
          class="w-[13%] rounded"
        >
          <%= gettext("Main") %>
        </.link>

        <ul class="w-[9%]">
          <li class="group relative" tabindex="-1">
            <button class="rounded border-white">
              <Heroicons.bars_4 class="w-5 h-5" />
            </button>

            <div class="p-2 invisible absolute right-0 top-full transform opacity-0 transition-all duration-300 group-focus-within:visible group-focus-within:opacity-100">
              <ul class="mt-1 rounded-md border border-neutral-50 bg-gray-800 p-2 shadow backdrop-blur-sm">
                <li class="w-60 font-bold mb-2 text-blue-400 overflow-clip text-center bg-gray-600">
                  <%= @current_user.email %>

                  <div class="text-base font-normal text-amber-600">
                    <%= if assigns[:current_farm], do: @current_role %>
                  </div>
                </li>

                <li class="my-5">
                  <.link navigate={~p"/farms"} class="mb-2 p-3 hover:bg-emerald-400 flex">
                    <%= gettext("Farms") %>
                  </.link>
                </li>

                <li class="my-5">
                  <.link navigate={~p"/users/settings"} class="mb-2 p-3 hover:bg-emerald-400 flex">
                    <%= gettext("User Settings") %>
                  </.link>
                </li>

                <li class="my-5">
                  <.link
                    href={~p"/users/log_out"}
                    method="delete"
                    class="p-3 hover:bg-rose-400 flex"
                  >
                    <%= gettext("Log out") %>
                  </.link>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    <% else %>
      <%= if assigns[:page_title] != gettext("Home") do %>
        <div class="">
          <img src="/images/logo.png" alt="Peggy Logo" class="mx-auto w-1/6 h-1/6" />
        </div>
        <h1 class="text-center font-bold text-2xl tracking-widest -mt-2">
          <%= gettext("Peggy") %>
        </h1>
        <h1 class="text-center text-xl tracking-tighter -mt-1">
          <%= gettext("Swine Farm Management System") %>
        </h1>
        <div class="text-gray-400 text-center tracking-tighter">
          <%= gettext("Version") %> <%= "0.1.0" %>
        </div>
      <% end %>
    <% end %>
    <%= @inner_content %>
  </body>
</html>
