<h1 class="is-size-3 has-text-weight-bold"><%= @page_title %> </h1>
<%= live_patch gettext("Farm List"), to: Routes.farm_index_path(@socket, :index), class: "button" %>
<%= link gettext("Change Active Farms"), to: "/set_active_farm", class: "button" %>
